PATH_add ./bin

export DEBIAN_VERSION="bookworm-20250630-slim"
export ELIXIR_VERSION="1.18.4"
export OTP_VERSION="28.0.2"
export POSTGRES_VERSION="17"
export TRAEFIK_VERSION="v3.3"

source_env_if_exists .envrc.local
