<Layouts.flash_group flash={@flash} />

<div class="flex flex-col items-center p-10 h-screen">
  <.link href={~p"/liturgy"} class="btn btn-primary self-stretch">Liturgias</.link>
  <.link navigate={~p"/songs"} class="btn btn-primary mt-4 self-stretch">Hinos</.link>
</div>
